#fuzzy-canvas {
    position: relative;
    max-width: 100%;
    display: block;
    padding: 10px;
    margin: 0 auto;
}

canvas.blink {
    animation: blink-fade 0.25s ease-in-out;
}

@keyframes blink-fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}